@import '../common/utils.scss';
@import '../common/flexContainer.scss';

.memoryPageContainer {
  @include flexContainer;

  .memoryPageWrapper {
    @include flexContainer;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    section {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 80%;
      height: calc(100% / 3 - 10px);
      text-align: center;
      background-color: $innerNavy;
      border-radius: 10px;

      .p {
        height: 20%;
      }

      .pieChartWrapper {
        height: 80%;
        justify-content: center;
      }

      .sectionItemHear {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20%;
      }
    }

    .memoryTable {
      th {
        width: 100px;
      }

      td {
        width: 100px;
      }

      th, td {
        margin: 30px 0px;
      }
    }

    @include largeView{
      flex-direction: row;

      section {
        width: calc(100% / 3 - 10px);
        height: 50%;
      }
    }
  }
}

.columnTable {
  display: flex;
  justify-content: center;
  align-items: center;

  tbody, thead {
    height: 100%;
  }

  th, td {
    display:block
  }
}
