# Runtime data
.DS_Store

# Dependency directories
node_modules/

# dotenv environment variables file
.env
.env.test
.husky

# Webpack
.webpack/

# Electron-Forge
out/

#vscode
.vscode

# Test
coverage
