@import './utils.scss';

@mixin customButton {
  height: 30px;
  padding: 5px 10px;
  border: 1px solid $innerNavy;
  border-radius: 5px;
  background-color: $text3;
  color: $darkGray;
  font-weight: 600;
  font-size: 0.8rem;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}
