.homePage {
  display: flex;
  flex-direction: column;
}

.home_top_container {
  flex: 1;
}

.home_bottom_container {
  flex: 1;
}

.home_cpu_wrapper {
  height: 100%;
  background-color: bisque;
}

