@import './common/utils.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

html {
  height: 100%;
  width: 100%;
  background-color: $defaultBack;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
 display: none;
}

li {
  list-style: none;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  color: $text3;
  background-color: $bgColor;
}

#root {
  position: relative;
  width: calc(100vw - 100px);
  min-width: 700px;
  height: 100%;
}

button {
  border: 0;
  outline: 0;
}
